<div class="contents row">
  <% @recipes.each do |recipe| %>
    <div class="content_post" >
    <%= image_tag recipe.image, class: 'recipe-image' %>
      <p><%= recipe.title %></p>
      <span class="name">
        <%= recipe.name %>
      </span>
    </div>
  <% end %>
</div>