<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <p>材料や作り方が知りたい場合は画像右上のボタンから詳細ページへ</p>
  <% @recipes.each do |recipe| %>
  <%= render partial: "recipes/recipe", locals: { recipe: recipe } %>
  <% end %>
</div>